{% extends 'layout.html'%}
{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<strong class="card-title">Department Detail</strong>
				 <div class="text-right"><a href="/addDepartment" class="btn btn-primary btn-sm" title="Add New">Add New</a></div>
         
			</div>
			<div class="card-body">
				<table  class="table table-sm">
					<thead>
						<tr>											
							<td class="text-center border-left border-right align-middle border-bottom"><b>Name</b></td>
							<td class="align-middle border-right border-bottom"></td>
						</tr>
						<tr>											
							<td class="text-center border-left border-right align-middle border-bottom"><b>Location</b></td>
							<td class="align-middle border-right border-bottom"></td>
						</tr>
						<tr>											
							<td class="text-center border-left border-right align-middle border-bottom"><b>Spoc Name</b></td>
							<td class="align-middle border-right border-bottom"></td>
						</tr>
						<tr>											
							<td class="text-center border-left border-right align-middle border-bottom"><b>Spoc Email</b></td>
							<td class="align-middle border-right border-bottom"></td>
						</tr>
						<tr>											
							<td class="text-center border-left border-right align-middle border-bottom"><b>Hod Name</b></td>
							<td class="align-middle border-right border-bottom"></td>
						</tr>
						<tr>											
							<td class="text-center border-left border-right align-middle border-bottom"><b>Hod Email</b></td>
							<td class="align-middle border-right border-bottom"></td>
						</tr>
						<tr>											
							<td class="text-center border-left border-right align-middle border-bottom"><b>Ceo Name</b></td>
							<td class="align-middle border-right border-bottom"></td>
						</tr>
						<tr>											
							<td class="text-center border-left border-right align-middle border-bottom"><b>Ceo Email</b></td>
							<td class="align-middle border-right border-bottom"></td>
						</tr>

						<tr>											
							<td class="text-center border-left border-right align-middle border-bottom"><b>Status</b></td>
							<td class="align-middle border-right border-bottom">
								
							</td>
						</tr>
						<tr>											
							<td class="text-center border-left border-right align-middle border-bottom"><b>Description</b></td>
							<td class="align-middle border-right border-bottom">
								
							</td>
						</tr>

						</thead>					
					<tbody>             					
					
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}