{% extends 'layout.html'%}
{% block body%}
<div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Department List</h3>
            <div class="text-right"><a href="/addDepartment" class="btn btn-primary btn-sm" title="Add New">Add New</a></div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>S.No.</th>
                  <th>Department</th>
                  <th nowrap>Short Name</th>
                  <th>SPOC</th>
                  <th>SPOC Mail</th>
                  <th>HOD</th>
                  <th>HOD Mail</th>
                  <th>Location</th>
                  <th>Description</th>                 
                  <th style="width:18%;">Action</th>
                </tr>
              </thead>
              <tbody>                            
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
{% endblock %}
