{% extends 'layout.html'%}
{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<strong class="card-title">User Detail</strong>
				 <div class="text-right"><a href="/addUser" class="btn btn-primary btn-sm" title="Add New">Add New</a></div>
         
			</div>
			<div class="card-body">
				<table  class="table table-sm">
					<thead>
						<tr>											
							<td class="text-center border-left border-right align-middle border-bottom"><b>Name</b></td>
							<td class="align-middle border-right border-bottom"></td>
						</tr>
						
						<tr>											
							<td class="text-center border-left border-right align-middle border-bottom"><b>Email</b></td>
							<td class="align-middle border-right border-bottom"></td>
						</tr>
						<tr>											
							<td class="text-center border-left border-right align-middle border-bottom"><b>User Name</b></td>
							<td class="align-middle border-right border-bottom"></td>
						</tr>
						<tr>											
							<td class="text-center border-left border-right align-middle border-bottom"><b>Picture</b></td>
							<td class="align-middle border-right border-bottom"></td>
						</tr>
						<tr>											
							<td class="text-center border-left border-right align-middle border-bottom"><b>Type</b></td>
							<td class="align-middle border-right border-bottom"></td>
						</tr>
						<tr>											
							<td class="text-center border-left border-right align-middle border-bottom"><b>Department</b></td>
							<td class="align-middle border-right border-bottom"></td>
						</tr>
						<tr>											
							<td class="text-center border-left border-right align-middle border-bottom"><b>Created On</b></td>
							<td class="align-middle border-right border-bottom"></td>
						</tr>

						<tr>											
							<td class="text-center border-left border-right align-middle border-bottom"><b>Status</b></td>
							<td class="align-middle border-right border-bottom">
								
							</td>
						</tr>
						
						</thead>					
					<tbody>             					
					
				</table>
			</div>
		</div>
	</div>
</div>
{%endblock%}